@using EntityLayer.Dto.ResponseDto
@model List<CategoryDto>

<select id="CategoryName" name="CategoryId" class="dropdown-content form-control">
    @foreach (var category in Model.Where(x => x.ParentId == 0))
    {
        <option value="@category.Id">@category.Name</option>
    }
</select>
<div id="selectArea"></div>