@using EntityLayer.Dto.ResponseDto
@model List<CategoryDto>


<input type="text" placeholder="Search.." class="form-control" id="myInputCategory" onkeyup="filterFunctionCategory()">
<select id="CategoryName" size="5" name="CategoryId" class="dropdown-content form-control">
    @foreach (var category in Model)
    {
        <option value="@category.Id">@category.Name</option>
    }
</select>

