@using EntityLayer.Dto.ResponseDto
@using EntityLayer.Entity
@model List<CategoryDto>
<select name="CategoryName" class="form-control form-control-solid mb-3 mb-lg-0" placeholder="Kategori">
	@foreach(var i in Model)
	{
		<option value="@i.Name">@i.Name</option>
	}
</select>