@using EntityLayer.Dto.ResponseDto
@using EntityLayer.Entity
@model List<CategoryDto>
<select id="CategoryName" name="CategoryName" class="form-control selectpicker form-control-solid mb-3 mb-lg-0" data-live-search="true" placeholder="Kategori">
	@foreach(var i in Model)
	{
		<option value="@i.Name">@i.Name</option>
	}
</select>