
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
}


<div role="main" class="main position-relative z-index-2 z-index-mobile-0">
	<div class="m-0 p-0">
		@await Component.InvokeAsync("MainPageMenuCards")
	</div>

</div>