<!DOCTYPE html>
<html class="side-header side-header-right side-header-right-no-reverse">
<head>
	@await Html.PartialAsync("~/Views/Shared/FrontPartials/Css/_Css.cshtml")
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Porto - Responsive HTML5 Template</title>
	<meta name="keywords" content="HTML5 Template" />
	<meta name="description" content="Porto - Responsive HTML5 Template">
	<meta name="author" content="okler.net">
	<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />
	<link rel="apple-touch-icon" href="img/apple-touch-icon.png">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">
</head>
<body data-plugin-page-transition>
	<div class="body">
		<div class="sticky-wrapper sticky-wrapper-transparent sticky-wrapper-effect-1 sticky-wrapper-border-bottom d-none d-lg-block d-xl-none" data-plugin-sticky data-plugin-options="{'minWidth': 0, 'stickyStartEffectAt': 100, 'padding': {'top': 0}}">
			<div class="sticky-body">
				<div class="container-fluid">
					<div class="row align-items-center">
						<div class="col-9">
							<div class="py-4">
								<a href="index.html">
									<img class="ms-2" alt="Porto" width="82" height="40" data-change-src="img/logo-flat-small.png" src="img/logo-default-slim-small.png">
								</a>
							</div>
						</div>
						<div class="col-3 text-end">
							<button class="hamburguer-btn hamburguer-btn-light hamburguer-btn-sticky-dark" data-set-active="false">
								<span class="hamburguer">
									<span></span>
									<span></span>
									<span></span>
								</span>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		@await Html.PartialAsync("~/Views/Shared/FrontPartials/Partials/_Header.cshtml")

		@RenderBody()
	
		<section class="call-to-action call-to-action-primary m-0">
			<div class="container">
				<div class="row py-3 py-lg-5">
					<div class="col-sm-12 col-lg-9 justify-content-center justify-content-lg-start mb-md-4">
						<div class="call-to-action-content">
							<h3 class="line-height-1">Get in <strong class="font-weight-extra-bold">touch</strong> with us and learn how we can <strong class="font-weight-extra-bold">help!</strong></h3>
							<p class="mb-0 opacity-7">The Best HTML Site Template on ThemeForest</p>
						</div>
					</div>
					<div class="col-sm-12 col-lg-3 justify-content-center justify-content-lg-end">
						<div class="call-to-action-btn">
							<a href="contact-us.html" target="_blank" class="btn btn-outline btn-rounded btn-light-2 px-5 btn-py-2 font-weight-bold text-uppercase text-3 mb-2">Contact Us</a>
						</div>
					</div>
				</div>
			</div>
		</section>

		@await Html.PartialAsync("~/Views/Shared/FrontPartials/Partials/_Footer.cshtml")


	</div>
 @await Html.PartialAsync("~/Views/Shared/FrontPartials/Js/_Js.cshtml")
</body>
</html>