<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>4 Columns Full Width  | Porto - Responsive HTML5 Template</title>
	<meta name="keywords" content="HTML5 Template" />
	<meta name="description" content="Porto - Responsive HTML5 Template">
	<meta name="author" content="okler.net">
	<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />
	<link rel="apple-touch-icon" href="img/apple-touch-icon.png">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">
	@await Html.PartialAsync("~/Views/Shared/FrontPartial/Css/CssFile.cshtml")
</head>
<body data-plugin-page-transition>

	<div class="body">

		@await Html.PartialAsync("~/Views/Shared/FrontPartial/Partials/_Header.cshtml")


		<div role="main" class="main shop pt-4">

			<div class="container">

			   @RenderBody()

			</div>

		</div>
		@await Html.PartialAsync("~/Views/Shared/FrontPartial/Partials/_Footer.cshtml")
	</div>	
	@await Html.PartialAsync("~/Views/Shared/FrontPartial/Js/JsFile.cshtml")
</body>
</html>
