@using EntityLayer.Dto.ResponseDto
@model List<CategoryDto>


@{
	void Menus(int? ParentId)
	{
		var categories = Model.Where(x => x.ParentId == ParentId).ToList();
		if (categories.Any())
		{
			<ul class="dropdown-menu">
				@foreach(var i in categories)
				{
					<li>
						<a class="dropdown-item" href="/ürün-listesi/@i.Id">
						   @i.Name
						</a>
					</li>
				}
				
			</ul>
		}
	}
	
}
<nav class="collapse w-100">
	<ul class="nav nav-pills w-100" id="mainNav">
	@foreach(var i in Model.Where(x=>x.ParentId == 0)){
		<li class="dropdown">
			<a class="dropdown-item dropdown-toggle" href="/ürün-listesi/@i.Id">
				@i.Name
			</a>
			@{
				Menus(i.Id);
			}
		</li>
	}
	</ul>
</nav>
