@using EntityLayer.Dto.ResponseDto
@using EntityLayer.Enums
@model List<ProductDto>
<tbody>
	@foreach(var i in Model)
	{
		<tr>
			<td>
				<div class="symbol symbol-45px me-2">
					<span class="symbol-label">
						<img src="@i.ProductImage" class="h-50 align-self-center" alt="">
					</span>
				</div>
			</td>
			<td>
				<a href="#" class="text-dark fw-bolder text-hover-primary mb-1 fs-6">@i.ProductName</a>
				<span class="text-muted fw-bold d-block">@i.ProductBrand</span>
			</td>
			<td class="text-end text-muted fw-bold">@i.ProductPrice</td>
			<td class="text-end">
				@{
					if (i.PlatformId == (int)Platform.trendyol)
					{
						<span class="badge badge-light-success">Trendyol</span>
					}
					else if (i.PlatformId == (int)Platform.n11)
					{
						<span class="badge badge-light-success">N11</span>
					}
					else if (i.PlatformId == (int)Platform.amazon)
					{
						<span class="badge badge-light-success">Amazon</span>
					}

				}
				
			</td>
			<td class="text-end">
				<a href="#" class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary">
					<!--begin::Svg Icon | path: icons/duotune/arrows/arr064.svg-->
					<span class="svg-icon svg-icon-2">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
							<rect opacity="0.5" x="18" y="13" width="13" height="2" rx="1" transform="rotate(-180 18 13)" fill="black"></rect>
							<path d="M15.4343 12.5657L11.25 16.75C10.8358 17.1642 10.8358 17.8358 11.25 18.25C11.6642 18.6642 12.3358 18.6642 12.75 18.25L18.2929 12.7071C18.6834 12.3166 18.6834 11.6834 18.2929 11.2929L12.75 5.75C12.3358 5.33579 11.6642 5.33579 11.25 5.75C10.8358 6.16421 10.8358 6.83579 11.25 7.25L15.4343 11.4343C15.7467 11.7467 15.7467 12.2533 15.4343 12.5657Z" fill="black"></path>
						</svg>
					</span>
					<!--end::Svg Icon-->
				</a>
			</td>
		</tr>
	}
	

</tbody>