@{
	ViewData["Title"] = "Index";
	Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";

}
<div class="row gy-5 g-xl-8">
	<!--begin::Col-->
	<div class="col-xxl-4">
		<!--begin::Mixed Widget 2-->
		<div class="card card-xxl-stretch">
			<!--begin::Header-->
			<div class="card-header border-0 bg-danger py-5">
				<h3 class="card-title fw-bolder text-white">Pazar Yerleri</h3>
				<div class="card-toolbar">
					<!--begin::Menu-->
					<button type="button" class="btn btn-sm btn-icon btn-color-white btn-active-white btn-active-color- border-0 me-n3" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">
						<!--begin::Svg Icon | path: icons/duotune/general/gen024.svg-->
						<span class="svg-icon svg-icon-2">
							<svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24">
								<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
									<rect x="5" y="5" width="5" height="5" rx="1" fill="#000000"></rect>
									<rect x="14" y="5" width="5" height="5" rx="1" fill="#000000" opacity="0.3"></rect>
									<rect x="5" y="14" width="5" height="5" rx="1" fill="#000000" opacity="0.3"></rect>
									<rect x="14" y="14" width="5" height="5" rx="1" fill="#000000" opacity="0.3"></rect>
								</g>
							</svg>
						</span>
						<!--end::Svg Icon-->
					</button>			
				</div>
			</div>
			<!--end::Header-->
			<!--begin::Body-->
			<div class="card-body p-0" style="position: relative;">
				<!--begin::Chart-->
				<div class="mixed-widget-2-chart card-rounded-bottom bg-danger" data-kt-color="danger" style="height: 200px; min-height: 200px;">
					<div id="apexchartsaf6iybka" class="apexcharts-canvas apexchartsaf6iybka apexcharts-theme-light" style="width: 381px; height: 200px;">
						<svg id="SvgjsSvg1263" width="381" height="200" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev" class="apexcharts-svg" xmlns:data="ApexChartsNS" transform="translate(0, 0)" style="background: transparent;"><g id="SvgjsG1265" class="apexcharts-inner apexcharts-graphical" transform="translate(0, 0)"><defs id="SvgjsDefs1264"><clipPath id="gridRectMaskaf6iybka"><rect id="SvgjsRect1268" width="388" height="203" x="-3.5" y="-1.5" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath><clipPath id="forecastMaskaf6iybka"></clipPath><clipPath id="nonForecastMaskaf6iybka"></clipPath><clipPath id="gridRectMarkerMaskaf6iybka"><rect id="SvgjsRect1269" width="385" height="204" x="-2" y="-2" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath><filter id="SvgjsFilter1275" filterUnits="userSpaceOnUse" width="200%" height="200%" x="-50%" y="-50%"><feFlood id="SvgjsFeFlood1276" flood-color="#cb1b46" flood-opacity="0.5" result="SvgjsFeFlood1276Out" in="SourceGraphic"></feFlood><feComposite id="SvgjsFeComposite1277" in="SvgjsFeFlood1276Out" in2="SourceAlpha" operator="in" result="SvgjsFeComposite1277Out"></feComposite><feOffset id="SvgjsFeOffset1278" dx="0" dy="5" result="SvgjsFeOffset1278Out" in="SvgjsFeComposite1277Out"></feOffset><feGaussianBlur id="SvgjsFeGaussianBlur1279" stdDeviation="3 " result="SvgjsFeGaussianBlur1279Out" in="SvgjsFeOffset1278Out"></feGaussianBlur><feMerge id="SvgjsFeMerge1280" result="SvgjsFeMerge1280Out" in="SourceGraphic"><feMergeNode id="SvgjsFeMergeNode1281" in="SvgjsFeGaussianBlur1279Out"></feMergeNode><feMergeNode id="SvgjsFeMergeNode1282" in="[object Arguments]"></feMergeNode></feMerge><feBlend id="SvgjsFeBlend1283" in="SourceGraphic" in2="SvgjsFeMerge1280Out" mode="normal" result="SvgjsFeBlend1283Out"></feBlend></filter><filter id="SvgjsFilter1285" filterUnits="userSpaceOnUse" width="200%" height="200%" x="-50%" y="-50%"><feFlood id="SvgjsFeFlood1286" flood-color="#cb1b46" flood-opacity="0.5" result="SvgjsFeFlood1286Out" in="SourceGraphic"></feFlood><feComposite id="SvgjsFeComposite1287" in="SvgjsFeFlood1286Out" in2="SourceAlpha" operator="in" result="SvgjsFeComposite1287Out"></feComposite><feOffset id="SvgjsFeOffset1288" dx="0" dy="5" result="SvgjsFeOffset1288Out" in="SvgjsFeComposite1287Out"></feOffset><feGaussianBlur id="SvgjsFeGaussianBlur1289" stdDeviation="3 " result="SvgjsFeGaussianBlur1289Out" in="SvgjsFeOffset1288Out"></feGaussianBlur><feMerge id="SvgjsFeMerge1290" result="SvgjsFeMerge1290Out" in="SourceGraphic"><feMergeNode id="SvgjsFeMergeNode1291" in="SvgjsFeGaussianBlur1289Out"></feMergeNode><feMergeNode id="SvgjsFeMergeNode1292" in="[object Arguments]"></feMergeNode></feMerge><feBlend id="SvgjsFeBlend1293" in="SourceGraphic" in2="SvgjsFeMerge1290Out" mode="normal" result="SvgjsFeBlend1293Out"></feBlend></filter></defs><g id="SvgjsG1294" class="apexcharts-xaxis" transform="translate(0, 0)"><g id="SvgjsG1295" class="apexcharts-xaxis-texts-g" transform="translate(0, -4)"></g></g><g id="SvgjsG1304" class="apexcharts-grid"><g id="SvgjsG1305" class="apexcharts-gridlines-horizontal" style="display: none;"><line id="SvgjsLine1307" x1="0" y1="0" x2="381" y2="0" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine1308" x1="0" y1="20" x2="381" y2="20" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine1309" x1="0" y1="40" x2="381" y2="40" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine1310" x1="0" y1="60" x2="381" y2="60" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine1311" x1="0" y1="80" x2="381" y2="80" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine1312" x1="0" y1="100" x2="381" y2="100" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine1313" x1="0" y1="120" x2="381" y2="120" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine1314" x1="0" y1="140" x2="381" y2="140" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine1315" x1="0" y1="160" x2="381" y2="160" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine1316" x1="0" y1="180" x2="381" y2="180" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine1317" x1="0" y1="200" x2="381" y2="200" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line></g><g id="SvgjsG1306" class="apexcharts-gridlines-vertical" style="display: none;"></g><line id="SvgjsLine1319" x1="0" y1="200" x2="381" y2="200" stroke="transparent" stroke-dasharray="0" stroke-linecap="butt"></line><line id="SvgjsLine1318" x1="0" y1="1" x2="0" y2="200" stroke="transparent" stroke-dasharray="0" stroke-linecap="butt"></line></g><g id="SvgjsG1270" class="apexcharts-area-series apexcharts-plot-series"><g id="SvgjsG1271" class="apexcharts-series" seriesName="NetxProfit" data:longestSeries="true" rel="1" data:realIndex="0"><path id="SvgjsPath1274" d="M 0 200L 0 125C 22.224999999999998 125 41.275000000000006 87.5 63.5 87.5C 85.725 87.5 104.775 120 127 120C 149.225 120 168.275 25 190.5 25C 212.725 25 231.775 100 254 100C 276.225 100 295.275 100 317.5 100C 339.725 100 358.775 100 381 100C 381 100 381 100 381 200M 381 100z" fill="transparent" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt" stroke-width="0" stroke-dasharray="0" class="apexcharts-area" index="0" clip-path="url(#gridRectMaskaf6iybka)" filter="url(#SvgjsFilter1275)" pathTo="M 0 200L 0 125C 22.224999999999998 125 41.275000000000006 87.5 63.5 87.5C 85.725 87.5 104.775 120 127 120C 149.225 120 168.275 25 190.5 25C 212.725 25 231.775 100 254 100C 276.225 100 295.275 100 317.5 100C 339.725 100 358.775 100 381 100C 381 100 381 100 381 200M 381 100z" pathFrom="M -1 200L -1 200L 63.5 200L 127 200L 190.5 200L 254 200L 317.5 200L 381 200"></path><path id="SvgjsPath1284" d="M 0 125C 22.224999999999998 125 41.275000000000006 87.5 63.5 87.5C 85.725 87.5 104.775 120 127 120C 149.225 120 168.275 25 190.5 25C 212.725 25 231.775 100 254 100C 276.225 100 295.275 100 317.5 100C 339.725 100 358.775 100 381 100" fill="none" fill-opacity="1" stroke="#cb1b46" stroke-opacity="1" stroke-linecap="butt" stroke-width="3" stroke-dasharray="0" class="apexcharts-area" index="0" clip-path="url(#gridRectMaskaf6iybka)" filter="url(#SvgjsFilter1285)" pathTo="M 0 125C 22.224999999999998 125 41.275000000000006 87.5 63.5 87.5C 85.725 87.5 104.775 120 127 120C 149.225 120 168.275 25 190.5 25C 212.725 25 231.775 100 254 100C 276.225 100 295.275 100 317.5 100C 339.725 100 358.775 100 381 100" pathFrom="M -1 200L -1 200L 63.5 200L 127 200L 190.5 200L 254 200L 317.5 200L 381 200"></path><g id="SvgjsG1272" class="apexcharts-series-markers-wrap" data:realIndex="0"><g class="apexcharts-series-markers"><circle id="SvgjsCircle1325" r="6" cx="63.5" cy="87.5" class="apexcharts-marker wwycnx0c8 no-pointer-events" stroke="#cb1b46" fill="#f1416c" fill-opacity="1" stroke-width="3" stroke-opacity="0.9" default-marker-size="0"></circle></g></g></g><g id="SvgjsG1273" class="apexcharts-datalabels" data:realIndex="0"></g></g><line id="SvgjsLine1320" x1="0" y1="0" x2="381" y2="0" stroke="#b6b6b6" stroke-dasharray="0" stroke-width="1" stroke-linecap="butt" class="apexcharts-ycrosshairs"></line><line id="SvgjsLine1321" x1="0" y1="0" x2="381" y2="0" stroke-dasharray="0" stroke-width="0" stroke-linecap="butt" class="apexcharts-ycrosshairs-hidden"></line><g id="SvgjsG1322" class="apexcharts-yaxis-annotations"></g><g id="SvgjsG1323" class="apexcharts-xaxis-annotations"></g><g id="SvgjsG1324" class="apexcharts-point-annotations"></g></g><g id="SvgjsG1303" class="apexcharts-yaxis" rel="0" transform="translate(-18, 0)"></g><g id="SvgjsG1266" class="apexcharts-annotations"></g></svg><div class="apexcharts-legend" style="max-height: 100px;"></div><div class="apexcharts-tooltip apexcharts-theme-light apexcharts-active" style="left: 74.5px; top: 90.5px;"></div><div class="apexcharts-yaxistooltip apexcharts-yaxistooltip-0 apexcharts-yaxistooltip-left apexcharts-theme-light"><div class="apexcharts-yaxistooltip-text"></div></div></div></div>

				<div class="card-p mt-n20 position-relative">
					<div class="row g-0">
						<div class="col bg-light-warning px-6 py-8 rounded-2 me-7 mb-7">
							<span class="svg-icon svg-icon-3x svg-icon-warning d-block my-2">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
									<rect x="8" y="9" width="3" height="10" rx="1.5" fill="black"></rect>
									<rect opacity="0.5" x="13" y="5" width="3" height="14" rx="1.5" fill="black"></rect>
									<rect x="18" y="11" width="3" height="8" rx="1.5" fill="black"></rect>
									<rect x="3" y="13" width="3" height="6" rx="1.5" fill="black"></rect>
								</svg>
							</span>
							<!--end::Svg Icon-->
							<a href="/Admin/ProductComment/Index/" class="text-warning fw-bold fs-6">Yorum Çek</a>
						</div>
					</div>
				</div>
				<div class="card-p mt-n20 position-relative">
					<div class="row g-0">
						<div class="col bg-light-warning px-6 py-8 rounded-2 me-7 mb-7">
							<span class="svg-icon svg-icon-3x svg-icon-warning d-block my-2">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
									<rect x="8" y="9" width="3" height="10" rx="1.5" fill="black"></rect>
									<rect opacity="0.5" x="13" y="5" width="3" height="14" rx="1.5" fill="black"></rect>
									<rect x="18" y="11" width="3" height="8" rx="1.5" fill="black"></rect>
									<rect x="3" y="13" width="3" height="6" rx="1.5" fill="black"></rect>
								</svg>
							</span>
							<!--end::Svg Icon-->
							<a href="#" class="text-warning fw-bold fs-6" id="trendcat">Trendyol Kategoriler Güncelle</a>
						</div>
					</div>
				</div>
				<div class="card-p mt-n20 position-relative">
					<div class="row g-0">
						<div class="col bg-light-warning px-6 py-8 rounded-2 me-7 mb-7">
							<span class="svg-icon svg-icon-3x svg-icon-warning d-block my-2">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
									<rect x="8" y="9" width="3" height="10" rx="1.5" fill="black"></rect>
									<rect opacity="0.5" x="13" y="5" width="3" height="14" rx="1.5" fill="black"></rect>
									<rect x="18" y="11" width="3" height="8" rx="1.5" fill="black"></rect>
									<rect x="3" y="13" width="3" height="6" rx="1.5" fill="black"></rect>
								</svg>
							</span>
							<!--end::Svg Icon-->
							<a href="#" class="text-warning fw-bold fs-6" id="n11cat">n11 Kategoriler Güncelle</a>
						</div>
					</div>
				</div>
				<div class="resize-triggers"><div class="expand-trigger"><div style="width: 382px; height: 462px;"></div></div><div class="contract-trigger"></div></div>
			</div>
		</div>
	</div>

	<div class="col-xxl-8">
		<div class="card card-xxl-stretch mb-5 mb-xl-8">
			<div class="card-header border-0 pt-5">
				<h3 class="card-title align-items-start flex-column">
					<span class="card-label fw-bolder fs-3 mb-1">Eklenen Son ürünler</span>
					<span class="text-muted mt-1 fw-bold fs-7"></span>
				</h3>
				@* <div class="card-toolbar">
					<ul class="nav">
						<li class="nav-item">
							<a class="nav-link btn btn-sm btn-color-muted btn-active btn-active-dark active fw-bolder px-4 me-1" data-bs-toggle="tab" href="#kt_table_widget_5_tab_1">Month</a>
						</li>
						<li class="nav-item">
							<a class="nav-link btn btn-sm btn-color-muted btn-active btn-active-dark fw-bolder px-4 me-1" data-bs-toggle="tab" href="#kt_table_widget_5_tab_2">Week</a>
						</li>
						<li class="nav-item">
							<a class="nav-link btn btn-sm btn-color-muted btn-active btn-active-dark fw-bolder px-4" data-bs-toggle="tab" href="#kt_table_widget_5_tab_3">Day</a>
						</li>
					</ul>
				</div> *@
			</div>
			<!--end::Header-->
			<!--begin::Body-->
			<div class="card-body py-3">
				<div class="tab-content">
					<!--begin::Tap pane-->
					<div class="tab-pane fade show active" id="kt_table_widget_5_tab_1">
						<!--begin::Table container-->
						<div class="table-responsive">
							<!--begin::Table-->
							<table class="table table-row-dashed table-row-gray-200 align-middle gs-0 gy-4">
								<!--begin::Table head-->
								<thead>
									<tr class="border-0">
										<th class="p-0 w-50px"></th>
										<th class="p-0 min-w-150px"></th>
										<th class="p-0 min-w-140px"></th>
										<th class="p-0 min-w-110px"></th>
										<th class="p-0 min-w-50px"></th>
									</tr>
								</thead>
								@await Component.InvokeAsync("GetLastFiveProducts")
							</table>
						</div>
						<!--end::Table-->
					</div>
					<!--end::Tap pane-->
					<!--begin::Tap pane-->
					<div class="tab-pane fade" id="kt_table_widget_5_tab_2">
						<!--begin::Table container-->
						<div class="table-responsive">
							<!--begin::Table-->
							<table class="table table-row-dashed table-row-gray-200 align-middle gs-0 gy-4">
								<!--begin::Table head-->
								<thead>
									<tr class="border-0">
										<th class="p-0 w-50px"></th>
										<th class="p-0 min-w-150px"></th>
										<th class="p-0 min-w-140px"></th>
										<th class="p-0 min-w-110px"></th>
										<th class="p-0 min-w-50px"></th>
									</tr>
								</thead>
								<!--end::Table head-->
								<!--begin::Table body-->
								<tbody>
									<tr>
										<td>
											<div class="symbol symbol-45px me-2">
												<span class="symbol-label">
													<img src="assets/media/svg/brand-logos/plurk.svg" class="h-50 align-self-center" alt="">
												</span>
											</div>
										</td>
										<td>
											<a href="#" class="text-dark fw-bolder text-hover-primary mb-1 fs-6">Brad Simmons</a>
											<span class="text-muted fw-bold d-block">Movie Creator</span>
										</td>
										<td class="text-end text-muted fw-bold">React, HTML</td>
										<td class="text-end">
											<span class="badge badge-light-success">Approved</span>
										</td>
										<td class="text-end">
											<a href="#" class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary">
												<!--begin::Svg Icon | path: icons/duotune/arrows/arr064.svg-->
												<span class="svg-icon svg-icon-2">
													<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
														<rect opacity="0.5" x="18" y="13" width="13" height="2" rx="1" transform="rotate(-180 18 13)" fill="black"></rect>
														<path d="M15.4343 12.5657L11.25 16.75C10.8358 17.1642 10.8358 17.8358 11.25 18.25C11.6642 18.6642 12.3358 18.6642 12.75 18.25L18.2929 12.7071C18.6834 12.3166 18.6834 11.6834 18.2929 11.2929L12.75 5.75C12.3358 5.33579 11.6642 5.33579 11.25 5.75C10.8358 6.16421 10.8358 6.83579 11.25 7.25L15.4343 11.4343C15.7467 11.7467 15.7467 12.2533 15.4343 12.5657Z" fill="black"></path>
													</svg>
												</span>
												<!--end::Svg Icon-->
											</a>
										</td>
									</tr>
									<tr>
										<td>
											<div class="symbol symbol-45px me-2">
												<span class="symbol-label">
													<img src="assets/media/svg/brand-logos/telegram.svg" class="h-50 align-self-center" alt="">
												</span>
											</div>
										</td>
										<td>
											<a href="#" class="text-dark fw-bolder text-hover-primary mb-1 fs-6">Popular Authors</a>
											<span class="text-muted fw-bold d-block">Most Successful</span>
										</td>
										<td class="text-end text-muted fw-bold">Python, MySQL</td>
										<td class="text-end">
											<span class="badge badge-light-warning">In Progress</span>
										</td>
										<td class="text-end">
											<a href="#" class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary">
												<!--begin::Svg Icon | path: icons/duotune/arrows/arr064.svg-->
												<span class="svg-icon svg-icon-2">
													<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
														<rect opacity="0.5" x="18" y="13" width="13" height="2" rx="1" transform="rotate(-180 18 13)" fill="black"></rect>
														<path d="M15.4343 12.5657L11.25 16.75C10.8358 17.1642 10.8358 17.8358 11.25 18.25C11.6642 18.6642 12.3358 18.6642 12.75 18.25L18.2929 12.7071C18.6834 12.3166 18.6834 11.6834 18.2929 11.2929L12.75 5.75C12.3358 5.33579 11.6642 5.33579 11.25 5.75C10.8358 6.16421 10.8358 6.83579 11.25 7.25L15.4343 11.4343C15.7467 11.7467 15.7467 12.2533 15.4343 12.5657Z" fill="black"></path>
													</svg>
												</span>
												<!--end::Svg Icon-->
											</a>
										</td>
									</tr>
									<tr>
										<td>
											<div class="symbol symbol-45px me-2">
												<span class="symbol-label">
													<img src="assets/media/svg/brand-logos/bebo.svg" class="h-50 align-self-center" alt="">
												</span>
											</div>
										</td>
										<td>
											<a href="#" class="text-dark fw-bolder text-hover-primary mb-1 fs-6">Active Customers</a>
											<span class="text-muted fw-bold d-block">Movie Creator</span>
										</td>
										<td class="text-end text-muted fw-bold">AngularJS, C#</td>
										<td class="text-end">
											<span class="badge badge-light-danger">Rejected</span>
										</td>
										<td class="text-end">
											<a href="#" class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary">
												<!--begin::Svg Icon | path: icons/duotune/arrows/arr064.svg-->
												<span class="svg-icon svg-icon-2">
													<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
														<rect opacity="0.5" x="18" y="13" width="13" height="2" rx="1" transform="rotate(-180 18 13)" fill="black"></rect>
														<path d="M15.4343 12.5657L11.25 16.75C10.8358 17.1642 10.8358 17.8358 11.25 18.25C11.6642 18.6642 12.3358 18.6642 12.75 18.25L18.2929 12.7071C18.6834 12.3166 18.6834 11.6834 18.2929 11.2929L12.75 5.75C12.3358 5.33579 11.6642 5.33579 11.25 5.75C10.8358 6.16421 10.8358 6.83579 11.25 7.25L15.4343 11.4343C15.7467 11.7467 15.7467 12.2533 15.4343 12.5657Z" fill="black"></path>
													</svg>
												</span>
												<!--end::Svg Icon-->
											</a>
										</td>
									</tr>
								</tbody>
								<!--end::Table body-->
							</table>
						</div>
						<!--end::Table-->
					</div>
					<!--end::Tap pane-->
					<!--begin::Tap pane-->
					<div class="tab-pane fade" id="kt_table_widget_5_tab_3">
						<!--begin::Table container-->
						<div class="table-responsive">
							<!--begin::Table-->
							<table class="table table-row-dashed table-row-gray-200 align-middle gs-0 gy-4">
								<!--begin::Table head-->
								<thead>
									<tr class="border-0">
										<th class="p-0 w-50px"></th>
										<th class="p-0 min-w-150px"></th>
										<th class="p-0 min-w-140px"></th>
										<th class="p-0 min-w-110px"></th>
										<th class="p-0 min-w-50px"></th>
									</tr>
								</thead>
								<!--end::Table head-->
								<!--begin::Table body-->
								<tbody>
									<tr>
										<td>
											<div class="symbol symbol-45px me-2">
												<span class="symbol-label">
													<img src="assets/media/svg/brand-logos/kickstarter.svg" class="h-50 align-self-center" alt="">
												</span>
											</div>
										</td>
										<td>
											<a href="#" class="text-dark fw-bolder text-hover-primary mb-1 fs-6">Bestseller Theme</a>
											<span class="text-muted fw-bold d-block">Best Customers</span>
										</td>
										<td class="text-end text-muted fw-bold">ReactJS, Ruby</td>
										<td class="text-end">
											<span class="badge badge-light-warning">In Progress</span>
										</td>
										<td class="text-end">
											<a href="#" class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary">
												<!--begin::Svg Icon | path: icons/duotune/arrows/arr064.svg-->
												<span class="svg-icon svg-icon-2">
													<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
														<rect opacity="0.5" x="18" y="13" width="13" height="2" rx="1" transform="rotate(-180 18 13)" fill="black"></rect>
														<path d="M15.4343 12.5657L11.25 16.75C10.8358 17.1642 10.8358 17.8358 11.25 18.25C11.6642 18.6642 12.3358 18.6642 12.75 18.25L18.2929 12.7071C18.6834 12.3166 18.6834 11.6834 18.2929 11.2929L12.75 5.75C12.3358 5.33579 11.6642 5.33579 11.25 5.75C10.8358 6.16421 10.8358 6.83579 11.25 7.25L15.4343 11.4343C15.7467 11.7467 15.7467 12.2533 15.4343 12.5657Z" fill="black"></path>
													</svg>
												</span>
												<!--end::Svg Icon-->
											</a>
										</td>
									</tr>
									<tr>
										<td>
											<div class="symbol symbol-45px me-2">
												<span class="symbol-label">
													<img src="assets/media/svg/brand-logos/bebo.svg" class="h-50 align-self-center" alt="">
												</span>
											</div>
										</td>
										<td>
											<a href="#" class="text-dark fw-bolder text-hover-primary mb-1 fs-6">Active Customers</a>
											<span class="text-muted fw-bold d-block">Movie Creator</span>
										</td>
										<td class="text-end text-muted fw-bold">AngularJS, C#</td>
										<td class="text-end">
											<span class="badge badge-light-danger">Rejected</span>
										</td>
										<td class="text-end">
											<a href="#" class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary">
												<!--begin::Svg Icon | path: icons/duotune/arrows/arr064.svg-->
												<span class="svg-icon svg-icon-2">
													<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
														<rect opacity="0.5" x="18" y="13" width="13" height="2" rx="1" transform="rotate(-180 18 13)" fill="black"></rect>
														<path d="M15.4343 12.5657L11.25 16.75C10.8358 17.1642 10.8358 17.8358 11.25 18.25C11.6642 18.6642 12.3358 18.6642 12.75 18.25L18.2929 12.7071C18.6834 12.3166 18.6834 11.6834 18.2929 11.2929L12.75 5.75C12.3358 5.33579 11.6642 5.33579 11.25 5.75C10.8358 6.16421 10.8358 6.83579 11.25 7.25L15.4343 11.4343C15.7467 11.7467 15.7467 12.2533 15.4343 12.5657Z" fill="black"></path>
													</svg>
												</span>
												<!--end::Svg Icon-->
											</a>
										</td>
									</tr>
									<tr>
										<td>
											<div class="symbol symbol-45px me-2">
												<span class="symbol-label">
													<img src="assets/media/svg/brand-logos/vimeo.svg" class="h-50 align-self-center" alt="">
												</span>
											</div>
										</td>
										<td>
											<a href="#" class="text-dark fw-bolder text-hover-primary mb-1 fs-6">New Users</a>
											<span class="text-muted fw-bold d-block">Awesome Users</span>
										</td>
										<td class="text-end text-muted fw-bold">Laravel,Metronic</td>
										<td class="text-end">
											<span class="badge badge-light-primary">Success</span>
										</td>
										<td class="text-end">
											<a href="#" class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary">
												<!--begin::Svg Icon | path: icons/duotune/arrows/arr064.svg-->
												<span class="svg-icon svg-icon-2">
													<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
														<rect opacity="0.5" x="18" y="13" width="13" height="2" rx="1" transform="rotate(-180 18 13)" fill="black"></rect>
														<path d="M15.4343 12.5657L11.25 16.75C10.8358 17.1642 10.8358 17.8358 11.25 18.25C11.6642 18.6642 12.3358 18.6642 12.75 18.25L18.2929 12.7071C18.6834 12.3166 18.6834 11.6834 18.2929 11.2929L12.75 5.75C12.3358 5.33579 11.6642 5.33579 11.25 5.75C10.8358 6.16421 10.8358 6.83579 11.25 7.25L15.4343 11.4343C15.7467 11.7467 15.7467 12.2533 15.4343 12.5657Z" fill="black"></path>
													</svg>
												</span>
												<!--end::Svg Icon-->
											</a>
										</td>
									</tr>
									<tr>
										<td>
											<div class="symbol symbol-45px me-2">
												<span class="symbol-label">
													<img src="assets/media/svg/brand-logos/telegram.svg" class="h-50 align-self-center" alt="">
												</span>
											</div>
										</td>
										<td>
											<a href="#" class="text-dark fw-bolder text-hover-primary mb-1 fs-6">Popular Authors</a>
											<span class="text-muted fw-bold d-block">Most Successful</span>
										</td>
										<td class="text-end text-muted fw-bold">Python, MySQL</td>
										<td class="text-end">
											<span class="badge badge-light-warning">In Progress</span>
										</td>
										<td class="text-end">
											<a href="#" class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary">
												<!--begin::Svg Icon | path: icons/duotune/arrows/arr064.svg-->
												<span class="svg-icon svg-icon-2">
													<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
														<rect opacity="0.5" x="18" y="13" width="13" height="2" rx="1" transform="rotate(-180 18 13)" fill="black"></rect>
														<path d="M15.4343 12.5657L11.25 16.75C10.8358 17.1642 10.8358 17.8358 11.25 18.25C11.6642 18.6642 12.3358 18.6642 12.75 18.25L18.2929 12.7071C18.6834 12.3166 18.6834 11.6834 18.2929 11.2929L12.75 5.75C12.3358 5.33579 11.6642 5.33579 11.25 5.75C10.8358 6.16421 10.8358 6.83579 11.25 7.25L15.4343 11.4343C15.7467 11.7467 15.7467 12.2533 15.4343 12.5657Z" fill="black"></path>
													</svg>
												</span>
												<!--end::Svg Icon-->
											</a>
										</td>
									</tr>
								</tbody>
								<!--end::Table body-->
							</table>
						</div>
						<!--end::Table-->
					</div>
					<!--end::Tap pane-->
				</div>
			</div>
			<!--end::Body-->
		</div>
		<!--end::Tables Widget 5-->
	</div>
	
</div>