<footer id="footer" class="m-0">
	<div class="container">
		<div class="row justify-content-center py-5">
			<div class="col-lg-8 text-center py-4">
				<div class="py-5">
					<h2 class="text-8 line-height-4 text-lg-10 line-height-lg-1 font-weight-semibold mt-5">Create your new website now!</h2>
					<p class="text-4 font-weight-normal px-3 mb-3">Porto Admin Integration - 100% Fully Responsive - Retina Ready - Google Fonts - Super Fast Top-Level Support - Customizable - RTL Support - SEO Friendly</p>
					<a href="http://themeforest.net/item/porto-responsive-html5-template/4106987" target="_blank" class="btn btn-primary btn-rounded px-5 py-3 font-weight-semibold text-color-light mt-3 mb-5">PURCHASE PORTO</a>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container py-2">
			<div class="row py-4">
				<div class="col text-center">
					<ul class="footer-social-icons social-icons social-icons-clean social-icons-icon-light mb-3">
						<li class="social-icons-facebook"><a href="http://www.facebook.com/" target="_blank" title="Facebook"><i class="fab fa-facebook-f text-2"></i></a></li>
						<li class="social-icons-twitter"><a href="http://www.twitter.com/" target="_blank" title="Twitter"><i class="fab fa-twitter text-2"></i></a></li>
						<li class="social-icons-linkedin"><a href="http://www.linkedin.com/" target="_blank" title="Linkedin"><i class="fab fa-linkedin-in text-2"></i></a></li>
					</ul>
					<p><strong>PORTO TEMPLATE</strong> - © Copyright 2021. All Rights Reserved.</p>
				</div>
			</div>
		</div>
	</div>
</footer>